name: Build wheels

on:
  # on new tag
  push:
    tags:
      - "*"

  # manually trigger
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, windows-11-arm, macos-15-intel, macos-latest]
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v5

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set MacOS compiler
        if: runner.os == 'macOS'
        run: |
          echo "CXX=gcc-13" >> $GITHUB_ENV
          echo "MACOSX_DEPLOYMENT_TARGET=15.0" >> $GITHUB_ENV

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.3.0

      - name: Build wheels
        run: cd python ; python -m cibuildwheel --output-dir wheelhouse
        env:
          # don't build for PyPython and windows 32-bit
          CIBW_SKIP: pp* *win32*
          # force compiler on macOS
          CXX: ${{ env.CXX }}
          CC: ${{ env.CXX }}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./python/wheelhouse/*.whl
